<div id="header">
  <h1>MODs Transformer Service</h1>
</div>
  
<div>
  <h3>Admin Page</h3>
  <p>Create new user</p>
  <form action="/newUser" method="POST" enctype="multipart/form-data">
    <label type='text'>User ID</label>
    <input type='text' name='name'><br /><br />
    <label type='text'>Password</label>
    <input type='password' name='password'><br /><br />
    <label type='text'>Confirm Password</label>
    <input type='password' name='confirm'>
    <input type='submit' value='create'>
  </form>
</div>

<div>
  <h3>Users</h3>
  <table>
    <tr>
      <th>User ID</th>
      <th>User Name</th>
      <th>Admin</th>
      <th></th>
      <th></th>
      <th>Set Password</th>
    </tr>
    <% users = User.all %>
    <% users.each do |user| %>
    <% id = user.id %>
    <% name = user.username %>
    <% delete = "<form action='/removeUser' method='post' >
        <input type='hidden' value='#{id}' name='id' >
        <input type='hidden' value='#{name}' name='name' >
        <input type='submit' value='remove'>
        </form>" %>
    <% admin = user.isAdmin? %>
    <% adminSet = "<form action='/setAdmin' method='post' >
        <input type='hidden' value='#{id}' name='id' >
        <input type='hidden' value='#{name}' name='name' >
        <input type='submit' value='set admin'>
        </form>" %>
     <% passwordSet = "<form action='/setPassword' method='POST' enctype='multipart/form-data'>
        <input type='hidden' value='#{id}' name='id' >
        <input type='hidden' value='#{name}' name='name' >
        <input type='password' name='password'>
        <input type='submit' value='update'>
        </form>" %>
        <% if id == 1 %>
        <% delete = "" %>
        <% adminSet = "" %>
        <% passwordSet = "" %>
        <% end %>
    <tr>
      <td><%= id %></td>
      <td><%= name %></td>
      <td><%= admin %></td>
      <td><%= delete %></td>
      <td><%= adminSet %></td>
      <td><%= passwordSet %></td>
    </tr>
    <% end %>
  </table>
</div>