<!DOCTYPE html>
<html>
  <head>
    <title>MODs Transformer Service</title>
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans:regular,bold' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif:regular,bold,italic,bolditalic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/js/ajax.js"></script>
  </head>
  <body>
  
  <div id="content">
  
    <div id="nav">
      <ul>
          <li><a href="/user">Change user settings</a></li>
          <li><a href="/logout">Logout</a></li>
          <li><a href="/admin">Admin</a></li>
      </ul>
    </div>
    
    <div id="header">
      <h1>MODs Transformer Service</h1>
    </div>
    <p>Welcome <%= @user %>!</p>
    <p>This service transforms excel generated xml files into MODs format.</p>
    <form action="/" method="get">
        <input type='submit' value='refresh page'>
    </form>
      
    <div>
      <h3>Upload</h3>
      <p> Upload an xml file.</p>
      <form id='theForm' action="/" method="POST" enctype="multipart/form-data">
        <input id="fileInput" type='file' name='xmlfile'><br /><br />
        <label type='text'>Name your collection</label>
        <input type='text' name='collection_id'><br /><br />
        <label type='text'>Owning Institution</label>
        <input type='text' name='institution' value='FAU'>
        <input id="btnTransform" type='submit' value='transform'>
      </form>
    </div>
    
    <div>
      <h3>Current XML to MODs Mapping</h3>
      <p>Change textfields to match headers in excel file.  Use comma seperated lists
      if you need to match multiple headers to the same mods tags.</p>
      <form action="/createHash" method="post" enctype="multipart/form-data">
      <table>
        <tr>
          <th>MODS filename</th>
          <th>Excel Column Header</th>
        </tr>
        <tr>
          <td>filename</td>
          <% array = @@session[@user].modsTags['filename'] %>
          <% str = array.to_s.gsub(/[\[\]\"]/, '') %>
          <% tagInput = "<input type='text' value='#{str}' name='filename'>" %>
          <td><%= tagInput %></td>
        </tr>
      </table>
      <table>
        <tr>
          <th>MODs Tags and Attributes</th>
          <th>Excel Column Header</th>
        </tr>
        <% @@session[@user].modsTags.each do |tag, array| %>
          <% next if tag == 'filename' %>
           <tr>
             <% str = array.to_s.gsub(/[\[\]\"]/, '') %>
             <% tagInput = "<input type='text' value='#{str}' name='#{tag}'>" %>
             <% note = @@session[@user].notes[tag] %>
             <% if note.length > 0 %>
               <% tag = tag + ' (' + note + ')' %>
             <% end %>
             <td><%= tag %></td>
             <td><%= tagInput %></td>
           </tr>
        <% end %>
      </table>
      <input type='submit' value='submit'>
      </form>
      
      <h4>Reset Mapping</h4>
      <form action="/reset" method="post">
        <input type='submit' value='reset tags'/>
      </form>
    </div>
    
    <div id="collections">
      <h3>Collections</h3>
      <table>
      <tr>
        <th>Collection</th>
        <th colspan="2">Package</th>
      </tr>
      <% @array = @@session[@user].listPackages %>
      <% @array.each do |x| %>
        <% collection_id = File.basename(x, ".zip") %>
        <% packageLink = "<a href='/#{collection_id}'>Package</a>" %>
        <% deletePackage = "<form action='/remove/#{collection_id}' method='post' >
            <input type='submit' value='remove'>
          </form>" %>
        <tr>
          <td><%= File.basename(x) %></td>
          <td><%= packageLink %></td>
          <td><%= deletePackage %></td>
        </tr>
      <% end %>
    </table>
    </div>
    
    <div id="errors">
      <h3>Submission Errors</h3>
      <table>
      <tr>
        <th>Errors</th>
        <th colspan="2">Package</th>
      </tr>
      <% @hash = @@session[@user].errors %>
      <% @hash.each do |key, array| %>
        <% collection_id = key %>
        <% deleteHash = "<form action='/delete/#{collection_id}' method='post' >
            <input type='submit' value='delete'>
          </form>" %>
        <% array.each do |error| %>
        <tr>
          <td><%= collection_id %></td>
          <td><%= error %></td>
          <td><%= deleteHash %>
        </tr>
        <% end %>
      <% end %>
    </table>
    </div>
   
   </div> 
    
  </body>
</html>